
.section-head{
  color: black;
  font-size: 2.25rem;
  margin-bottom: 2.5rem;
}

.general-text{
  //color: $dark-gray;
  font-size: 1.125rem;
  line-height: 135%;
}

.user-button{
  padding: 0;
  border: none;
  background-color: white;
  max-height: 2.85714rem;
  max-width: 2.85714rem;
  display: none
}

.auth-button{
  @extend .button;
  &:hover{
    padding: 0.625rem 1.5rem 0.875rem;
  }
}

.page-wrapper {
  background-color: white;
  border-radius: 1.5rem;
}

.wrapper
{
  padding: 0 1.5rem;
}

.container{
  margin: 0 auto;
  max-width: 83rem
}


.container-blur{
  backdrop-filter: blur(8.75rem);
  background-color: rgba(255, 255, 255, 0.65)
}


.container-lg
{
  margin: 0 auto;
  max-width: 84rem
}

.input{
  width: 100%;
  font-size: 1.125rem;
  font-family: "VisueltPro", sans-serif;
  border: none;
  padding: 1.25rem 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  transition-duration: 0.5s;
  &:focus{
    border: #4754EB;
  }
  &:hover::placeholder{
    color: #4754EB;
    transition: 0.3s;
  }
  &__input{
    padding: 1rem 1.25rem;
  }

}
.input-button{
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.125rem
}



.lang-change{
  background-color: $null;
  border: none;
  word-spacing: 2px;
  color: $blue;
  font-size: 1.125rem;
  margin-right: 1rem
}