@font-face
  font-family: 'VisueltPro'
  src: url('./fonts/VisueltPro-Regular.ttf')

$blue: #4754EB
$gray: #F2F2F2
$dark-gray: #808080

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font-family: 'VisueltPro', sans-serif
  background-color: $gray

a
  text-decoration: none
  color: inherit

.main-grid
  display: grid
  grid-template-columns: 1fr 50fr 1fr
  height: 100vh

.grid-wrapper
  display: grid
  grid-column: 2
  grid-template-rows: auto

.high-light
  color: $blue

.header
  display: flex
  justify-content: center
  background-color: white
  align-items: center
  border-top-left-radius: 2rem
  border-top-right-radius: 2rem

.header-center
  display: flex
  justify-content: center
  width: 100%

.header-center__nav
  display: flex
  justify-content: space-evenly
  width: 40%
  gap: 1rem

.container
  width: 95%

.header-container
  gap: 1rem
  display: flex
  justify-content: space-between
  align-items: center

.send-mail
  background-image: url("../images/imgs/1Screen.png")
  background-size: cover
  display: flex
  justify-content: center

.send-mail > .container
  display: flex

.send-mail__container
  display: flex
  align-items: center

.send-mail__content > h3
  font-size: 40pt
  width: 60%

.our-advantages
  background-color: white
  display: flex
  justify-content: center
  padding-top: 4rem

.our-advantages > .container > div > h3
  font-size: 20pt

.our-advantages__container
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  gap: 1rem

.dark-text
  color: $dark-gray
  font-size: 8pt
  width: 25%


.send-mail__input
  padding: 0.5rem
  background-color: rgba(255, 255, 255, 0.5)
  border-radius: 1rem
  width: 40%
  display: flex

.send-mail__footer
  display: flex
  align-items: center
  gap: 0.5rem
  color: white

.send-mail__input > input
  font-family: "VisueltPro", sans-serif
  font-size: 12pt

.email-box
  color: $dark-gray
  border: none
  width: 100%
  background-color: rgba(0, 0, 0, 0)

.send-button
  padding: 0.7rem 1rem
  font-weight: 700
  color: $blue
  background-color: white
  border: none
  border-radius: 0.5rem

.send-mail__content
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 60%

.send-mail > .container > div > h3
  font-weight: 500
  font-size: 20pt

.advantage__text
  font-size: 13pt
  border-radius: 1rem
  padding: 1rem
  background-color: $gray
  color: $dark-gray
  height: 100%

.advantage__head_text
  font-size: 17pt
  font-weight: lighter
  display: flex
  align-items: center

.advantage
  display: flex
  flex-direction: column
  gap: 1rem
  margin-top: 2rem
  margin-bottom: 4rem
  justify-content: space-between

.advantage-emoji
  font-size: 40pt

.how-we-work
  background-image: url("../images/imgs/screen2.png")
  background-size: cover
  display: flex
  justify-content: center

.how-we-work > .container > div > h3
  font-size: 20pt
  margin-top: 4rem
  margin-bottom: 2rem

.how-we-work__container
  display: flex
  gap: 1rem
  width: 70%
  margin-bottom: 4rem

.how-we-work__right
  display: flex
  flex-direction: column
  height: 90%
  justify-content: space-between

.how-we-work__text
  display: flex
  flex-direction: column
  justify-content: space-evenly
  height: 70%

.how-we-work__text > h3
  font-size: 25pt

.work-text
  color: $dark-gray

.our-tariffs
  display: flex
  justify-content: center
  background-color: white

.our-tariffs__container
  display: grid
  grid-template-columns: repeat(4, 1fr)
  margin-bottom: 2rem

.how-we-work__content
  display: flex
  justify-content: center
  align-items: center

.work-selector
  display: flex
  justify-content: space-between
  align-items: center
  width: 70%

.white-stripe
  background-color: white
  height: 25px
  width: 100%

.header-right
  width: 17%
  display: flex
  justify-content: space-between
  align-items: center

.tariff-wrapper
  display: flex
  justify-content: center
  width: 75%

.tariff
  display: flex
  flex-direction: column
  justify-content: space-between
  background-color: rgba(255, 255, 255, 0.5)
  backdrop-filter: drop-shadow(2px 2px 6px rgba(25, 25, 25, 0.68))
  padding: 1rem
  border-radius: 1rem
  gap: 1rem

.tariff__header
  font-size: 14pt

.tariff > div > p
  color: $dark-gray

.tariff__text_elements > p
  color: $dark-gray

.tariff__text_elements
  display: flex
  gap: 0.3rem

.tariff__content
  display: flex
  flex-direction: column
  gap: 1rem

.generic-button
  padding: 1rem
  border-radius: 1rem
  color: white
  background-color: $blue

.our-tariffs > .container > h3
  font-size: 20pt
  margin-top: 4rem
  margin-bottom: 2rem

.generic-button-alternative
  @extend .generic-button
  background-color: white
  color: $blue
  display: flex
  justify-content: center
