@use "../general/colors" as *;
@use "../general/general-elements" as *;

.header{
  font-size: 1.125rem;
  background-color: white;
  position: sticky;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  z-index: 1;
  transition-duration: 0.2s;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
  }
  &__logo-buttons{
    display: flex;
    align-items: center;
  }
  &__burger{
    display: none;
    &-line_big {
      opacity: 100;
      position: absolute;
      top: 7px;
      left: 7px;
      height: 2px;
      width: 16px;
      border-radius: 25%;
      background-color: $blue;
      transition-duration: 0.2s;
      &_pressed{
        opacity: 0;
      }
    }
    &-line_small {
      position: absolute;
      height: 2px;
      width: 12px;
      background-color: $blue;
      border-radius: 25%;
      transition-duration: 0.2s;
      &:nth-child(2) {
        top: 13px;
        left: 7px;
      }
      &:nth-child(3) {
        top: 19px;
        left: 7px;
      }
      &_pressed {
        &:nth-child(2) {
          top: 15px;
          left: 10px;
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          top: 15px;
          left: 10px;
          transform: rotate(-45deg);
        }
      }
    }
  }
  &__burger-button{
    background-color: rgba(255, 255, 255, 0.0);
    border: none;
    position:relative;
    padding: 0.5rem;
    height: 2rem;
    width: 2rem;
  }


  &-burger{
    transition-duration: 0.2s;
    overflow: hidden;

    &_show{
      height: 79vh;
    }
    &_hidden{
      height: 0;
    }
    &__lang-change{
      background-color: rgba(0, 0, 0, 0);
      border: none;
      word-spacing: 2px;
      color: #4754EB;
      margin-right: 0;
      font-size: 2.25rem;
      display: block;
      margin-bottom: 2.5rem;
    }
    &__container{
      margin-top: 2.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 1.25rem;
      height: 95%;
    }
    &__head{
      color: $dark-gray;
      font-size: 1.125rem;
      margin-bottom: 1.5rem;
    }
    &__nav{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    &__link{
      font-size: 2.25rem;
      &:hover{
        color: $blue;
      }
    }
  }
  &__scroll-next{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    span{
      transition-duration: 0.3s
    }
    .image{
      transition-duration: 0.3s
    }
    &:hover{
      color: #4754EB;
      .image{
        content: url("../images/svg/Wheeldown_blue.svg");
      }
    }
  }

  &__menu-buttons{
    display: flex;
  }
  &__nav{
    display: flex;
    justify-content: space-between;
    width: 31.32rem;
    color: $dark-gray;
  }
  a{
    transition-duration: 0.3s;
    &:hover{
      color: #4754EB;
    }

  }
}
@media (max-width: 1234px){
  .header{
    &__scroll-next{
      display: none
    }
    .header-burger{
      font-size: 3.5rem;
      background-image: url("../images/svg/dudaduu.svg");
      border-radius: 0 0 1.5rem 1.5rem;
    }
    &__lang-change{
      display: block
    }

    &__head{
      font-size: 1.5rem;
      color: $dark-gray;
      margin-bottom: 2.5rem;
    }

    &__lang-change{
      font-size: 3.5rem;
    }

    &__nav{
      display: flex;
      flex-direction: column;
      gap: 1.56rem;
      margin-bottom: 9.75rem;
    }

    &__container{
      padding: 5rem 0;

    }

    &__burger{
      display: block;
      margin-right: 1rem;
    }
    &__nav{
      display: none
    }
  }



}
@media (max-width: 580px){

}