@font-face {
  font-family: "VisueltPro";
  src: url("./fonts/VisueltPro-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.textarea {
  resize: none;
  width: 100%;
  padding: 1rem;
  background-color: #F2F2F2;
  color: #808080;
  font-size: 1.125rem;
  border-radius: 1.5rem;
  transition-duration: 0.5s;
}
.textarea:focus {
  border: #4754EB;
}
.textarea:hover::placeholder {
  color: #4754EB;
}

body {
  font-family: "VisueltPro", sans-serif;
  background-color: #F2F2F2;
  padding: 1.5rem;
  min-height: 100vh;
}

#burger-hidden {
  display: none;
}

#burger-show {
  display: block;
}

.button, .auth-button, .button-alt {
  background-color: #4754EB;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.125rem;
  transition-duration: 0.3s;
}

.button-alt {
  color: #4754EB;
  background-color: white;
}

.logo {
  color: #4754EB;
}

.image {
  max-width: 100%;
  transition-duration: 0.5s;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  transition-duration: 0.2s;
}

.section-head {
  color: black;
  font-size: 2.25rem;
  margin-bottom: 2.5rem;
}

.general-text {
  color: #808080;
  font-size: 1.125rem;
  line-height: 135%;
}

.user-button {
  padding: 0;
  border: none;
  background-color: white;
  max-height: 2.85714rem;
  max-width: 2.85714rem;
  display: none;
}

.auth-button:hover {
  padding: 0.625rem 1.5rem 0.875rem;
}

.page-wrapper {
  background-color: white;
  border-radius: 1.5rem;
  scroll-behavior: smooth;
}

.wrapper {
  padding: 0 1.5rem;
}

.container {
  margin: 0 auto;
  max-width: 83rem;
}

.container-blur {
  backdrop-filter: blur(8.75rem);
  background-color: rgba(255, 255, 255, 0.65);
}

.container-lg {
  margin: 0 auto;
  max-width: 84rem;
}

.input, .textarea {
  width: 100%;
  font-size: 1.125rem;
  font-family: "VisueltPro", sans-serif;
  border: none;
  padding: 1.25rem 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  transition-duration: 0.5s;
}
.input:focus, .textarea:focus {
  border: #4754EB;
}
.input:hover::placeholder, .textarea:hover::placeholder {
  color: #4754EB;
  transition: 0.3s;
}
.input__input {
  padding: 1rem 1.25rem;
}

.input-button, .send-mail .send-mail__button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.125rem;
}

.high-light {
  color: #4754EB;
}

.main-text {
  color: #808080;
}

.under-text {
  margin: 1rem 0 0 0.5rem;
  width: 22.13rem;
  line-height: 135%;
  font-size: 0.75rem;
  color: #808080;
}

.decorative-line {
  background-color: white;
  max-width: 1.5rem;
  height: 1px;
}

.title {
  font-size: 3.5rem;
  line-height: 125%;
  margin-bottom: 2.5rem;
}

.lang-change {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  word-spacing: 2px;
  color: #4754EB;
  font-size: 1.125rem;
  margin-right: 1rem;
}
.lang-change__not_selected {
  color: #808080;
}

@media (max-width: 1234px) {
  .lang-change {
    display: none;
  }
}
@media (max-width: 580px) {
  html {
    font-size: 14px;
  }
  body {
    padding: 0.375rem;
  }
  .decorative-line {
    max-width: 1.142857rem;
    height: 50px;
    color: white;
  }
  .title {
    font-size: 2.5714rem;
  }
  .input, .textarea {
    font-size: 0.875rem;
  }
  .input-button, .send-mail .send-mail__button {
    font-size: 0.875rem;
  }
  .under-text {
    font-size: 0.85714rem;
  }
  .section-head {
    font-size: 1.2857rem;
    margin-bottom: 2.5rem;
  }
  .input, .textarea {
    font-size: 1rem;
  }
  .user-button {
    display: block;
  }
  .auth-button {
    display: none;
  }
}
@keyframes background-slide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.send-mail {
  position: relative;
}
.send-mail__slide-1 {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  position: absolute;
  opacity: 0;
  animation: 5s infinite background-slide;
  animation-delay: -2.5s;
  background: radial-gradient(circle 20.25rem at 22.5rem 15.765rem, #4754EB 0%, rgba(0, 0, 0, 0)), radial-gradient(circle 13.5rem at 19.578rem 42.197rem, #8633B0 0%, rgba(0, 0, 0, 0)), radial-gradient(circle 19.75rem at 27.187rem 12px, white 0%, rgba(0, 0, 0, 0)), radial-gradient(circle 10.875rem at 71.585rem 30.375rem, #4754EB 0%, rgba(0, 0, 0, 0)), radial-gradient(circle 16rem at 81.772rem 17.88rem, white 0%, rgba(0, 0, 0, 0)), #F2F2F2;
}
.send-mail__slide-2 {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  position: absolute;
  opacity: 0;
  animation: 5s infinite background-slide;
  background: radial-gradient(circle 19.625rem at 30.226rem 36.75rem, #4754EB 0%, rgba(0, 0, 0, 0)), radial-gradient(circle 12.5rem at 22.448rem 30.723rem, #863380 0%, rgba(0, 0, 0, 0)), radial-gradient(circle 15.625rem at 82.312rem 23.562rem, blue 0%, rgba(0, 0, 0, 0)), radial-gradient(circle 19.625rem at 45.25rem 7.0625rem, white 0%, rgba(0, 0, 0, 0)), radial-gradient(circle 9.375rem at 99.0625rem 43.5rem, white 0%, rgba(0, 0, 0, 0)), #F2F2F2;
}
.send-mail__slide-3 {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  position: absolute;
  opacity: 0;
  animation: 5s infinite background-slide;
  animation-delay: 2.5s;
  background: radial-gradient(circle 21.25rem at 15.437rem 30.812rem, #4754EB 0%, rgba(0, 0, 0, 0)), radial-gradient(circle 18.75rem at 91.437rem 17.875rem, #4754EB 0%, rgba(0, 0, 0, 0)), radial-gradient(circle 11.125rem at 82.5rem 35.24rem, white 0%, rgba(0, 0, 0, 0)), radial-gradient(circle 23.5rem at 80.625rem 45.312rem, #4754EB 0%, rgba(0, 0, 0, 0)), radial-gradient(circle 14.375rem at 42.875rem 35.875rem, #8633B0 0%, rgba(0, 0, 0, 0)), radial-gradient(circle 21.375rem at 35.937rem 1rem, white 0%, rgba(0, 0, 0, 0)), radial-gradient(circle 11.125rem at 82.5rem 35.25rem, white 0%, rgba(0, 0, 0, 0)), radial-gradient(circle 18.75rem at 61.562rem 35.875rem, #8633B0 0%, rgba(0, 0, 0, 0)), #F2F2F2;
}
.send-mail__inner {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}
.send-mail__form {
  gap: 7.875rem;
  height: 39.25rem;
  width: 39.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.send-mail__input {
  max-width: 29.06rem;
  position: relative;
}
.send-mail .send-mail__button {
  color: #4754EB;
  background-color: white;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  transition-duration: 0.3s;
}
.send-mail .send-mail__button:hover {
  padding: 0.625rem 1.5rem 0.875rem;
}
.send-mail .send-mail__button:active {
  padding: 0.75rem 1.5rem;
  color: #2F3BB7;
}

@media (max-width: 1234px) {
  .send-mail__inner {
    flex-direction: column;
  }
  .send-mail__form {
    height: auto;
    max-width: 39.25rem;
  }
}
@media (max-width: 580px) {
  .send-mail__inner {
    padding: 2.5rem 0;
  }
  .send-mail__form {
    max-width: 22.85714rem;
  }
  .send-mail__button {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=send-mail.css.map */
