@use "../general/colors" as *;

.how-we-work{
  background-image: url("../images/imgs/11.png");
  position: relative;
  &__background-slide{
    &-1{
      height: 100%;
      width: 100%;
      max-width: 100vw;
      position: absolute;
      opacity: 0;
      animation: 5s infinite background-slide;
      animation-delay: -2.5s;
      background:
              radial-gradient(circle 18.375rem at 36.25rem 22.873rem, white 0%, rgba(0,0,0,0.0)),
              radial-gradient(circle 10.875rem at 30.875rem 38.873rem, rgba(235, 71, 139, 1) 0%, rgba(0,0,0,0)),
              radial-gradient(circle 18.75rem at 79.125rem 33.625rem, white 0%, rgba(0,0,0,0)),
              radial-gradient(circle 23.5rem at 63.375rem 0, $blue 0%, rgba(0,0,0,0)),
              radial-gradient(circle 18.75rem at 75.625rem 0, #863380 0%, rgba(0,0,0,0)),
              $gray;
    }
    &-2{
      height: 100%;
      width: 100%;
      max-width: 100vw;
      position: absolute;
      opacity: 0;
      animation: 5s infinite background-slide;
      animation-delay: -2.5s;
      background:
              radial-gradient(circle 18.375rem at 43.125rem 25.25rem, white 0%, rgba(0,0,0,0)),
              radial-gradient(circle 14rem at 33.375rem 18.375rem, rgba(235,71,139, 1) 0%, rgba(0,0,0,0)),
              radial-gradient(circle 18.75rem at 75.375rem 44.5rem, white 0%, rgba(0,0,0,0)),
              radial-gradient(circle 23.5rem at 85rem 0, $blue 0%, rgba(0,0,0,0)),
              radial-gradient(circle 18.75rem at 63.25rem 0, #863380 0%, rgba(0,0,0,0)),
              $gray;
    }
    &-3{
      height: 100%;
      width: 100%;
      max-width: 100vw;
      position: absolute;
      opacity: 0;
      animation: 5s infinite background-slide;
      animation-delay: -2.5s;
      background:
              radial-gradient(circle 18.375rem at 43.125rem 25.25rem, white 0%, rgba(0,0,0,0)),
              radial-gradient(circle 14rem at 35.375rem 29.875rem, rgba(235,71,139, 1) 0%, rgba(0,0,0,0)),
              radial-gradient(circle 23.5rem at 80.625rem 0, $blue 0%, rgba(0,0,0,0)),
              radial-gradient(circle 79rem at 70.875rem 0, white 0%, rgba(0,0,0,0)),
              $gray;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    gap: 1.5rem
  }
  &-image-normal{
    max-width: 39.251rem;
    max-height: 35rem;
  }
  &-image-small{
    max-height: 17.5rem;
    max-width: 19.625rem;
  }
  &__inner{
    padding: 5rem 0;
  }
  &__slide-{
    &1{
      max-width: 28.937rem;
      position: absolute;
      top: 1.875rem;
      transition-duration: 0.5s;
      transform: translateX(0);
    }
    &2{
      max-width: 28.937rem;
      position: absolute;
      top: 1.875rem;
      transition-duration: 0.5s;
      transform: translateX(-100%);
    }
    &3{
      max-width: 28.937rem;
      position: absolute;
      top: 1.875rem;
      transition-duration: 0.5s;
      transform: translateX(150%);
    }
    }

}
@media (max-width: 1234px){

  .how-we-work__content{
    flex-direction: column;
  }

}
@media (max-width: 580px){

}
