@keyframes background-slide{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes main_hidden-animation {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}