@keyframes background-slide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes main_hidden-animation {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@font-face {
  font-family: "VisueltPro";
  src: url("./fonts/VisueltPro-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.textarea {
  resize: none;
  width: 100%;
  padding: 1rem;
  background-color: #F2F2F2;
  color: #808080;
  font-size: 1.125rem;
  border-radius: 1.5rem;
  transition-duration: 0.5s;
}
.textarea:focus {
  border: #4754EB;
}
.textarea:hover::placeholder {
  color: #4754EB;
}

body {
  font-family: "VisueltPro", sans-serif;
  background-color: #F2F2F2;
  padding: 1.5rem;
  min-height: 100vh;
}

#burger-hidden {
  display: none;
}

#burger-show {
  display: block;
}

.button, .auth-button, .button-alt {
  background-color: #4754EB;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.125rem;
  transition-duration: 0.3s;
}

.button-alt {
  color: #4754EB;
  background-color: white;
}

.logo {
  color: #4754EB;
}

.image {
  max-width: 100%;
  transition-duration: 0.5s;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  transition-duration: 0.2s;
}

.section-head {
  color: black;
  font-size: 2.25rem;
  margin-bottom: 2.5rem;
}

main {
  opacity: 100;
  transition-duration: 0.2s;
}

.main_hidden {
  animation: main_hidden-animation 0.25s;
}

.general-text {
  color: #808080;
  font-size: 1.125rem;
  line-height: 135%;
}

.user-button {
  padding: 0;
  border: none;
  background-color: white;
  max-height: 2.85714rem;
  max-width: 2.85714rem;
  display: none;
}

.auth-button:hover {
  padding: 0.625rem 1.5rem 0.875rem;
}

.page-wrapper {
  background-color: white;
  border-radius: 1.5rem;
  scroll-behavior: smooth;
}

.wrapper {
  padding: 0 1.5rem;
}

.container {
  margin: 0 auto;
  max-width: 83rem;
}

.container-blur {
  backdrop-filter: blur(8.75rem);
  background-color: rgba(255, 255, 255, 0.65);
}

.container-lg, .our-advantages__grid {
  margin: 0 auto;
  max-width: 84rem;
}

.input, .textarea {
  width: 100%;
  font-size: 1.125rem;
  font-family: "VisueltPro", sans-serif;
  border: none;
  padding: 1.25rem 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  transition-duration: 0.5s;
}
.input:focus, .textarea:focus {
  outline: none;
}
.input:hover::placeholder, .textarea:hover::placeholder {
  color: #4754EB;
  transition: 0.3s;
}
.input__input {
  padding: 1rem 1.25rem;
}

.input-button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.125rem;
}

.high-light {
  color: #4754EB;
}

.main-text {
  color: #808080;
}

.under-text {
  margin: 1rem 0 0 0.5rem;
  width: 22.13rem;
  line-height: 135%;
  font-size: 0.75rem;
  color: #808080;
}

.decorative-line {
  background-color: white;
  max-width: 1.5rem;
  height: 1px;
}

.title {
  font-size: 3.5rem;
  line-height: 125%;
  margin-bottom: 2.5rem;
}

.lang-change {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  word-spacing: 2px;
  color: #4754EB;
  font-size: 1.125rem;
  margin-right: 1rem;
}
.lang-change__not_selected {
  color: #808080;
}

@media (max-width: 1234px) {
  .lang-change {
    display: none;
  }
}
@media (max-width: 580px) {
  html {
    font-size: 14px;
  }
  body {
    padding: 0.375rem;
  }
  .decorative-line {
    max-width: 1.142857rem;
    height: 50px;
    color: white;
  }
  .title {
    font-size: 2.5714rem;
  }
  .input, .textarea {
    font-size: 0.875rem;
  }
  .input-button {
    font-size: 0.875rem;
  }
  .under-text {
    font-size: 0.85714rem;
  }
  .section-head {
    font-size: 1.2857rem;
    margin-bottom: 2.5rem;
  }
  .input, .textarea {
    font-size: 1rem;
  }
  .user-button {
    display: block;
  }
  .auth-button {
    display: none;
  }
}
.our-advantages {
  background-color: white;
}
.our-advantages__inner {
  padding: 5rem 0;
}

.advantage {
  border-radius: 1.5rem;
  filter: drop-shadow(0px 0px 20px rgba(25, 25, 25, 0.05));
  transition-duration: 0.5s;
}
.advantage:hover {
  filter: drop-shadow(0.528rem 0.528rem 1rem #808080);
}
.advantage__head {
  font-size: 1.5rem;
  padding: 0.75rem 0 0.75rem 0.5rem;
  background-color: white;
  border-radius: 1.5rem 1.5rem 0 0;
  display: flex;
  align-items: center;
  color: black;
}
.advantage__emoji {
  margin-right: 0.75rem;
  max-width: 3.562rem;
  max-height: 3.562rem;
  transition-duration: 0.5s;
}
.advantage__body {
  background-color: #fdfdfd;
  border-radius: 0 0 1.5rem 1.5rem;
  padding: 0.75rem;
  color: #808080;
}

.our-advantages__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (max-width: 1234px) {
  .our-advantages__grid {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 580px) {
  .advantage__head h3 {
    font-size: 1.25rem;
  }
  .advantage__head img {
    max-width: 2.25rem;
    max-height: 2.8125rem;
  }
  .advantage__body {
    padding: 1rem;
    font-size: 0.875rem;
  }
}

/*# sourceMappingURL=our-advantages.css.map */
