@use "../general/colors" as *;
@use "../general/general-elements" as *;

.work-info{
  width: 100%;
  overflow: hidden;
  position: relative;
  min-height: 31.812rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__elements{
    display: flex;
    max-width: 26.38rem;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.875rem;
  }
  &__head{
    font-size: 2.25rem;
    margin-bottom: 1rem;
  }
  &__high-light{
    @extend .high-light;
    font-size: 0.75rem;
  margin-bottom: 1.5rem;
  }
  &__text-content{
    color: $dark-gray;
    line-height: 135%;
    font-size: 1.125rem;
  }
  &__text-content:nth-child(1){
    margin-bottom: 1rem;
  }
  &__button{
    @extend .button;
    font-size: 1.125rem;
    margin-top: 2.531rem;
    &:hover{
      padding: 0.625rem 1.5rem 0.875rem;
    }
    &:active{
      background-color: #2F3BB7;
      padding: 0.75rem 1.5rem;
    }
  }

  &__select{
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    border: none;
    transition-duration: 0.2s;
    &:hover{
      color: #4754EB;
    }
    &_high-light{
      background-color: rgba(0, 0, 0, 0.0);
      color: $blue;
      border: none;
    }
  }
}
@media (max-width: 1234px){
  .work-info{
    max-width: 38rem;
    height: auto;
  }

}
@media (max-width: 580px){
  .work-info{

    &__high-light{
      font-size: 1rem;
    }

    &__p{
      font-size: 1rem;
    }

    &__head{
      font-size: 1.85714rem;
      margin-bottom: 0.5rem;
    }

    &__button{
      width: 100%;
      font-size: 1rem;
    }

    &__elements{
      gap: 0.5714rem;
      margin-bottom: 1.5rem;
    }

    span{
      font-size: 1rem;
    }

  }

}